{% extends "base.html" %}
{% block title %}Categories{% endblock  %}


{% block content %}
<h2 class="text-2xl font-bold mb-4">Categories</h2>

<a href="{% url 'category_create' %}" class="bg-green-600 text-white px-4 py-2 rounded mb-4 inline-block">Add Category</a>


<table class="w-full table-auto border-collapse">
    <thead>
        <tr class="bg-gray-200">
            <th class="px-4 py-2 border">Name</th>
            <th class="px-4 py-2 border">Description</th>
            <th class="px-4 py-2 border">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td class="border px-4 py-2">
                <a href="{% url 'event_detail' event.pk %}" class="text-blue-600 hover:underline">{{ event.name }}</a>
            </td>

            <td class="border px-4 py-2">{{ category.name }}</td>
            <td class="border px-4 py-2">{{ category.description }}</td>

            <td class="border px-4 py-2 space-x-2">
                <a href="{% url 'category_update' event.pk %}" class="text-yellow-600 hover:underline">Edit</a>
                <a href="{% url 'category_delete' event.pk %}" class="text-red-600 hover:underline">Delete</a>                
            </td>
        </tr>

        {% empty %}
        <tr><td colspan="3" class"text-center py-4">No Categories Found.</td></tr>
        {% endfor %}

    </tbody>
</table>


{% endblock  %}