{% extends "base.html" %}


{% block content %}

{% comment "Hero section" %}{% endcomment %}

<section class="hero" style="background-image: url ('{% static "images/hero.jpg" %}');">
    <div class="conatiner">
        <h2>Upcoming Events</h2>
        <p>Your Event Experience</p>
    </div>
    
</section>

{% comment "events_section" %}{% endcomment %}

<section class="events-section">
    <div class="container">
        <h2>Upcoming Events</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            {% for event in upcoming_events %}
                <div class="events-card">
                    {% if event.image %}
                        <img src="{{ event.image.url }}" alt="{{ event.name }}" class="w-full h-48 object=cover mb-4">

                    {% else %}
                        <img src="{% static 'images/default.jpg' %}" alt="Event Image" class="w-full h-48 object=cover mb-4">

                    {% endif %}
                    <h3>{{ event.name }}</h3>
                    <p>{{ event.date }} at {{ event.location}} </p>
                    <p>{{ event.category.name }}</p>
                    <a href="{% url 'event_detail' event.pk %}">Details</a>
                </div>
            </div>

            {% empty %}

            <p> NO Upcoming events found </p>
            
            {% endfor %}
        </div>    
    </div>
</section>

{% endblock  %}