{% extends "base.html" %}
{% load static %}
{% block title %}Events{% endblock  %}


{% block content %}
<h2 class="text-2xl font-bold mb-4">Events</h2>

<form method="get" class="mb-4">
    <input type="text" name="q" placeholder"Search by name/location"
    class="border px-2 py-1 rounded">
    <button type="submit" class "bg-indigo-600 text-white px-3 py-1 rounded"> Search</button>
</form>

<a href="{% url 'event_create' %}" class="bg-green-600 text-white px-4 py-2 rounded mb-4 inline-block">Create New Event</a>


<table class="w-full table-auto border-collapse">
    <thead>
        <tr class="bg-gray-200">
            <th class="px-4 py-2 border">Name</th>
            <th class="px-4 py-2 border">Category</th>
            <th class="px-4 py-2 border">Participants</th>
            <th class="px-4 py-2 border">Date</th>
            <th class="px-4 py-2 border">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td class="border px-4 py-2">
                {% if event.image %}
                    <img src="{{ event.image.url }}" alt="{{ event.name }}" class="w-full h-48 object=cover mb-4">

                {% else %}
                        
                    <img src="{% static 'images/default.jpg' %}" alt="Event Image" class="w-full h-48 object=cover mb-4">

                {% endif %}
            </td>


            <td class="border px-4 py-2">
                <a href="{% url 'event_detail' event.pk %}" class="text-blue-600 hover:underline">{{ event.name }}</a>
            </td>

            <td class="border px-4 py-2">{{ event.category.name }}</td>
            <td class="border px-4 py-2">{{ event.participants.count }}</td>
            <td class="border px-4 py-2">{{ event.date }}</td>
            <td class="border px-4 py-2 space-x-2">
                <a href="{% url 'event_update' event.pk %}" class="text-yellow-600 hover:underline">Edit</a>
                <a href="{% url 'event_delete' event.pk %}" class="text-Red-600 hover:underline">Delete</a>                
            </td>
        </tr>

        {% empty %}
        <tr><td colspan="5" class"text-center py-4">No Events Found.</td></tr>
        {% endfor %}

    </tbody>
</table>


{% endblock  %}